.main {
    display: flex;
    justify-content: center;
    align-items: center;
    background-size: cover;
    background-position: center;
    height: calc(100vh - 120px); 
    padding: 2rem;
  }
  
  .main-content {
    display: flex;
    justify-content: space-between;
    width: 100%;
    max-width: 1200px;
    background-color: transparent;
    gap: 2.5rem; 
  }
  
  .parcel-section,
  .order-tracker {
    flex: 1; 
  }
  